<div class="align-middle justify-center">
    <div>
        <h1>Carlo Gerrico Maximo</h1>
        <nav>
            <ul>
                <li>
                    <a href="#about">0. About</a>
                </li>
                <li>
                    <a href="#education">1. Education</a>
                </li>
                <li>
                    <a href="#experience">2. Experience</a>
                </li>
                <li>
                    <a href="#skills">3. Skills</a>
                </li>
                <li>
                    <a href="#projects">4. Projects</a>
                </li>
                <li>
                    <a href="#contact">5. Contact</a>
                </li>
            </ul>
        </nav>
        <app-footer></app-footer>
    </div>
</div>