<div class="h-screen flex flex-col">
    <div class="place-self-center flex flex-col flex-grow items-center justify-center">
        profile picture
        <h1>Carlo Gerrico Maximo</h1>
        <nav>
            <ul>
                <li>
                    <a href="#about">0. About</a>
                </li>
                <li>
                    <a href="#education">1. Education</a>
                </li>
                <li>
                    <a href="#experience">2. Experience</a>
                </li>
                <li>
                    <a href="#skills">3. Skills</a>
                </li>
                <li>
                    <a href="#projects">4. Projects</a>
                </li>
                <li>
                    <a href="#contact">5. Contact</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="mt-auto place-self-center">
        <ul class="flex flex-row">
            <li>svg for linkedin</li>
            <li>svg for github</li>
            <li>svg for instagram</li>
        </ul>
    </div>
</div>