<section id="about" class="h-screen place-content-center">
    <div>
        Carlo Gerrico Maximo <br>
        Programming Student | GIS Enthusiast <br>
        Brampton, ON
    </div>
    <div class="break-words">
        I am a student at Sheridan College studying computer programming. I have a degree on geology. I am interested in combining my knowledge between the two and thought GIS is the best way to do it. I am currently learning web development and GIS. I am also interested in data science and machine learning. 
    </div>
    <div>
        link for resume
    </div>
</section>