<head>
  <title>Carlo Maximo | GIS Enthusiast</title>
  <link rel="icon" href="data:,">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body class="bg-zinc-800 text-zinc-300 font-inter overflow-x-hidden">
  <div class="w-screen flex">
    <aside class="sticky top-0 h-screen w-1/4">
      <app-header></app-header>
    </aside>
    <main class="h-full w-3/4">
      <div class="h-screen">
        <app-hero></app-hero>
      </div>
      <div class="h-screen">
        <app-educ></app-educ>
      </div>
      <div class="h-screen">
        <app-exp></app-exp>
      </div>
      <div class="h-screen">
        <app-skills></app-skills>
      </div>
      <div class="h-screen">
        <app-projects></app-projects>
      </div>
      <div class="h-screen flex flex-col">
        <app-contact></app-contact>
        <div class="mt-auto">
          <app-footer></app-footer>
        </div>
      </div>
    </main>
  </div>
</body>