<section id="education" class="h-full">
    <div class="flex flex-row">
        <div>
            <h1>Sheridan College</h1>
            <h2>Diploma in Computer Programming</h2>
            <p>Studied how to build stuff on a computer</p>
        </div>
        <div class="ml-auto pr-12">
            <p>
                January 2024 - April 2025
            </p>
        </div>
    </div>
    <div class="flex flex-row">
        <div>
            <h1>University of the Philippines Diliman</h1>
            <h2>Bachelor of Science in Geology</h2>
            <p>Touched grass (did fieldworks and made reports on said fieldworks)</p>
        </div>
        <div class="ml-auto pr-12">
            <p>
                August 2018 - September 2021
            </p>
        </div>
    </div>
</section>